@import '../mixins';

.templates {
  @include mainBlock;
  box-sizing: border-box;
  height: 100%;
  &__all{
    height: 100%;
  }
}

.header {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__wrapper-title {
    @include title;
  }
}
.search {
  &__wrapper {
    display: flex;
    margin-bottom: 38px;
  }

  &__wrapper-button {
    @include button;
  }
}

